{% extends 'base.html.twig' %}

{% block title %}WeMovies!{% endblock %}

{% block body %}
    <nav class="navbar bg-light">
        <div class="container">
            <a class="navbar-brand">A propos de We Movies</a>
            <form class="d-flex" role="search">
                <input id="search-bar" class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                <span id="search-bar-icon" class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
                </span>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'id': 'genre_form'}}) }}
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-8">
                {% if movies is defined %}
                    {% for movie in movies %}
                        <div class="card mb-3 bg-light">
                            <div class="row g-0">
                                <div id="poster-movie" class="col-2">
                                    <img src="https://image.tmdb.org/t/p/w500{{ movie.posterPath }}" class="img-fluid rounded-start" alt="poster">
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <div class="row d-inline">
                                            <h5 class="card-title d-inline">{{ movie.title }}</h5>
                                            <div class="rating d-inline">
                                                <i class="bi bi-star{% if movie.voteAverage > 2 %}-fill{% elseif movie.voteAverage > 0 %}-half{% endif %}"></i>
                                                <i class="bi bi-star{% if movie.voteAverage > 4 %}-fill{% elseif movie.voteAverage > 2 %}-half{% endif %}"></i>
                                                <i class="bi bi-star{% if movie.voteAverage > 6 %}-fill{% elseif movie.voteAverage > 4 %}-half{% endif %}"></i>
                                                <i class="bi bi-star{% if movie.voteAverage > 8 %}-fill{% elseif movie.voteAverage > 6 %}-half{% endif %}"></i>
                                                <i class="bi bi-star{% if movie.voteAverage == 10 %}-fill{% elseif movie.voteAverage > 8 %}-half{% endif %}"></i>
                                            </div>
                                            <h6 class="d-inline text-secondary fs-6">({{ movie.voteCount }} votes)</h6>
                                        </div>
                                        <p class="card-text">
                                            <small class="text-muted">{{ movie.releaseDate|date("Y") }} -
                                                {% for compagnie in movie.productionCompanies %}
                                                    <span class="text-primary">{{ compagnie.name }}{% if loop.last != true %},{% endif %}</span>
                                                {% endfor %}
                                            </small>
                                        </p>
                                        <p class="card-text mt-2">{{ movie.overview|raw|length > 200 ? movie.overview|striptags|slice(0, 200) ~ '...' : movie.overview|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
